<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flat UI Login</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
       
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    
                    
                    
					
                    <li>
                        <a class="page-scroll" href="/courseinfo"><h4>Add Course info</h4></a>
                    </li>
					
                    <li>
                        <a class="page-scroll" href="/editcourseinfo"><h4>Edit Course info</h4></a>
                    </li>
					
                    
                    <li>
                        <a class="page-scroll" href="/removecourseinfo"><h4>Remove Course info</h4></a>
                    </li>
					<li>
                        <a class="page-scroll" href="/dashboard"><h4>Back to dashboard</h4></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</body>
</html>
