<!DOCTYPE html>
<html>
<body>

<form action="/course">
  
  Course Id:<br>
  <input type="number" name="courseid" id="courseid">
  <br>
  Department:<br>
  <input type="number" name="Department" id="Department">
  <br>
  Instructor:<br>
  <input type="number" name="Instructor" id="Instructor">
  <br>
   Year:<br>
  <input type="number" name="year" id="year">
  <br>
   Semester:<br>
  <input type="text" name="semester" id="semester">
  <br>
  Place:<br>
  <input type="number" name="Place" id="Place">
  <br><br>
    <a href="/dashboard"> <input type="submit" value="Submit">
</form> 

<p>You can see the enrollment details in course details page. Just enter course Id and get information related to the students enrolled in the course.</p>

</body>
</html>