<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pro-Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="https://my-student-management-app.appspot.com/">
                    <i class="fa fa-play-circle"></i> <span class="light">Pro-</span> Manager
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    
                    <li>
                        <a class="page-scroll" href="/enrollastudent"><h4>Enroll a student</h4></a>
                    </li>
                    <li> <a class="page-scroll" href="/dropastudent"><h4>Drop a student</h4></a> </li>
                    <li> <a class="page-scroll" href="/liststudentinacourse"><h4>List students in a course</h4></a> </li>
                    <li>
                        <a class="page-scroll" href="/liststudentcourse"><h4>List courses of a student</h4></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/departmentcourses"><h4>List department courses</h4></a>
                    </li>
					<li>
                        <a class="page-scroll" href="/course"><h4>View course database</h4></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/student"><h4>View student database</h4></a>
                    </li>
					<li>
                        <a class="page-scroll" href="/coursesem"><h4>View courses in a quarter</h4></a>
                    </li>
					
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>

<header class="masthead">

     <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Pro-Manager</h1>
                        <p class="intro-text">A free, responsive student and course management web application.
                            <br>Created by Rounak Kulkarni.</p>
                        
                    </div>
                </div>
            </div>
        </div>
            
        
</header>
	<!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/tether/tether.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/grayscale.min.js"></script>
</body>
</html>