<!DOCTYPE html>
<html>
<body>

<form action="/course">
  Department Id:<br>
  <input type="number" name="Department Id" id="Department Id">
  <br>
  Department Name:<br>
  <input type="number" name="Department Name" id="Department Name">
  <br>
  Courses:<br>
  <input type="number" name="Courses" id="Courses">
  <br>
   Year:<br>
  <input type="number" name="year" id="year">
  <br>
   Semester:<br>
  <input type="text" name="semester" id="semester">
  <br><br>
    <a href="/dashboard"> <input type="submit" value="Submit">
</form> 

<p>You can see the enrollment details in course details page. Just enter course Id and get information related to the students enrolled in the course.</p>

</body>
</html>