<!DOCTYPE html>
<html>
<body>

<form action="/course">
  Student Id:<br>
  <input type="number" name="Studentid" id="Studentid">
  <br>
  Course name:<br>
  <input type="number" name="courseid" id="courseid">
  <br>
   Course Id:<br>
  <input type="text" name="coursename" id="coursename">
  <br>
   Year:<br>
  <input type="number" name="year" id="year">
  <br>
   Semester:<br>
  <input type="text" name="semester" id="semester">
  <br><br>
    <a href="/dashboard"> <input type="submit" value="Submit">
</form> 

<p>You can see the drop details in course details page. Just enter course Id and get information related to the students enrolled in the course.</p>

</body>
</html>