<!DOCTYPE html>
<html>
<body>

<form action="/course">
  Student Id:<br>
  <input type="number" name="Studentid" id="Studentid">
  <br>
  Student Name:<br>
  <input type="text" name="Student Name" id="Student Name">
  <br>
  Student Department:<br>
  <input type="text" name="Student Department" id="Student Department">
  <br>
   Address:<br>
  <input type="text" name="Address" id="Address">
  <br>
   Phone Number:<br>
  <input type="number" name="Phone Number" id="Phone Number">
  <br><br>
    <a href="/dashboard"> <input type="submit" value="Submit">
</form> 

<p>You can see the enrollment details in course details page. Just enter course Id and get information related to the students enrolled in the course.</p>

</body>
</html>