<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pro-Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>
<body>
<header class="masthead">
  <div id="wrap">
  <div id="regbar">
    <div id="navthing">
	<br>
		<br>
		<br>
      <h2><a href="/" id="loginform">Welcome to Pro - Manager</a>
		<br>
		<br>
		<br>
    <div class="login">
      <div class="arrow-up"></div>
      <div class="formholder">
        <div class="randompad">
           <fieldset>
               <label name="user"><h3>User</h3>></label>
             <input type="text" value="Admin" />
               <label name="password"><h3>Password</h3>></label>
             <input type="password" value="password" />
           <a href="/dashboard">  <input type="submit" value="Login" />
			<br>
			<br>
			<p><a href="#download" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
            </a>
			</p>
           </fieldset>
		   
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</header>
 <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Pro-Manager</h2>
                    <p>A free, responsive student and course management web application.</p>
                    <a href="http://rounakkulkarni.com/" class="btn btn-default btn-lg">Created By Rounak Kulkarni</a>
                </div>
            </div>
        </div>
    </section>
  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/tether/tether.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/grayscale.min.js"></script>

</body>
</html>
